{% extends "djangovoice/feedback_base.html" %}

{% load i18n %}

{% block title %}Feedback{% endblock %}
{% block location %}Feedback{% endblock %}

{% block content %}
<h1>{% trans 'Submit feedback' %}</h1>

<form action="{% url djangovoice_submit %}" method="post">
<table>
{% for field in form %}
    {% include "djangovoice/includes/fields.html" %}
{% endfor %}
    <tr>
        <td></td>
        <td><br /><input type="submit" value="{% trans 'Submit' %}" /></td>
    </tr>

</table>
</form>
{% endblock %}
